$dbug-orange: #ff9933;
$team-blue: #54a0ff;
$team-blue-hover: #2e86de;
$team-red: #e74c3c;
$team-red-hover: #ee5253;
$header-color: $dbug-orange;
$disabled-button: #8395a7;
$disabled-button-hover: #576574;
$increment: #2ecc71;
$increment-hover: #27ae60;
$decrement: #e74c3c;
$decrement-hover: #c0392b;
