/**
 * Container for the buttons columns
 */
.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
  left: 0;
}

/**
 * Titles for the button rows
 */
.titles {
  display: flex;
  flex-direction: row;
  right: 0;
  left: 0;
  .title {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0px;
    flex-grow: 1;
    flex-basis: 0;
    &:not(:first-child) { margin-left: 8px; }
    svg {
      margin-right: 4px;
      height: 1.125rem;
      width: 1.125rem;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0px;
  flex-grow: 1;
  flex-basis: 0;
  &:not(:first-child) { margin-left: 8px; }
  svg {
    margin-right: 4px;
    height: 1.125rem;
    width: 1.125rem;
  }
}

/**
 * Buttons column
 */
.column {
  position: relative;
  top: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &:not(:last-child) { margin-right: 8px; }
}

/**
 * Button properties
 */
.bx--btn {
  display: inline-flex !important;
  font-family: $font-face !important;
  &:not(:first-child) { margin-top: 8px; }
  flex-direction: row;
  span { align-self: center; }
  svg {
    margin-right: 4px;
    height: 1.125rem;
    width: 1.125rem;
  }
}

/**
 * Stylings for toggling buttons
 */
.activated {
  &.bx--btn--primary { background-color: $increment !important; }
  &.bx--btn--primary:hover { background-color: $increment !important; }
}
.disabled {
  &.bx--btn--primary { background-color: $disabled-button !important; }
  &.bx--btn--primary:hover { background-color: $disabled-button-hover !important; }
}

/**
 * Stylings for the plus/minus button at the Teleop page
 */
.toggleDecrement {
  width: 100%;
  &.increment {
    &.bx--btn--primary {
      background-color: $increment !important;
      &:hover { background-color: $increment-hover !important }
  }}

  &.decrement {
    &.bx--btn--primary {
      background-color: $decrement !important;
      &:hover { background-color: $decrement-hover !important }
  }}
}


.increment {
  .bx--btn--primary {
    background-color: $increment !important;
    &:hover { background-color: $increment-hover !important }
}}

.decrement {
  .bx--btn--primary {
    background-color: $decrement !important;
    &:hover { background-color: $decrement-hover !important }
}}
