/**
 * Graphs page specific styling
 *
 * Done in a hurry the night before ISDE#2 by Jonathan, might be abit ugly
 */

.row {
  display: flex;
  flex-direction: row;

  > div {
    flex: 1;

    > div {
      height: 230px !important;
    }
  }
}

.strategy .bx--combo-box {
  position: fixed;
  left: 0; right: 0;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

#graphs {
  .title {
    display: flex;
    flex-direction: row;

    > svg {
      margin-right: 5px;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
  }


  .legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > * {
      margin-left: 25px;

      &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: #000;
        transform: translate(-16px, 2px);
      }

      // This isn't the best thing in the world, but it works. And that's what's important nowadays.
      &:nth-child(1)::before { background-color: #4285F4; } // Cargo Ship
      &:nth-child(2)::before { background-color: #EA4335; } // Level 1
      &:nth-child(3)::before { background-color: #FBBC05; } // Level 2
      &:nth-child(4)::before { background-color: #34A853; } // Level 3
    }
  }
}
