.header {
  margin: 0 auto;
  width: 100%;
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  top: 0;
  color: #fff;
  background-color: #252525;
  display: inline-block;
  font-size: 150%;
  text-align: center;

  &.red { background-color: $team-red; }
  &.blue { background-color: $team-blue; }

  span {
    display: inline-block;
    text-align: center;
  }
}
